body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: auto; /* allow scroll if needed */
  font-family: sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
