    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #fefefe;
      color: #111;
      line-height: 1.8;
      scroll-behavior: smooth;
      margin: 0;
    }

    main{
      margin: 10px;
    }
    h1 {
      color: #00b050;
      margin-bottom: 1rem;
    }
    summary {
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer;
      padding: 0.75rem 1rem;
      background-color: #f4f4f4;
      border: 1px solid #ddd;
      border-radius: 5px;
      transition: background-color 0.3s;
      color: #00b050;
    }
    summary:hover {
      background-color: #eaeaea;
    }
    details {
      margin-bottom: 1rem;
    }
    details[open] summary {
      background-color: #e3f9ec;
        font-weight: 700;
    }
    .content {
      padding: 1rem 1.5rem;
      background-color: #fff;
      border-left: 3px solid #00b050;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-radius: 0 0 5px 5px;
      margin-top: -1px;
    }
    ul {
      padding-left: 1.5rem;
    }
    a {
      color: #00b050;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .container {
      max-width: 850px;
      margin: auto;
    }
    .date {
      font-size: 0.9rem;
      color: #666;
      margin-bottom: 2rem;
    }

    .footer {
  background-color: #01360d;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.footer-content p {
  margin: 0;
  font-size: 0.95rem;
}

.footer-right {
      font-family: monospace;
      color: #ddd;
}